# Word 2 index Mapping

When converting documebnts to vectors, the result is a document-term matrix

But, wich column, corresponds to wich word?

    Alpha order? Appearance order? Frequency order?

It depends on you

# TF-IDF From Scratch

In [1]:
import pandas as pd
import numpy as np
import nltk

from nltk import word_tokenizekenize

In [3]:

nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\MrJel\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [4]:
df = pd.read_csv('bbc_text_cls.csv')
df.head()

                                                text    labels
0  Ad sales boost Time Warner profit\n\nQuarterly...  business
1  Dollar gains on Greenspan speech\n\nThe dollar...  business
2  Yukos unit buyer faces loan claim\n\nThe owner...  business
3  High fuel prices hit BA's profits\n\nBritish A...  business
4  Pernod takeover talk lifts Domecq\n\nShares in...  business

In [5]:
# Populate word2index

idx = 0
word2index = {}
tokenized_docs = []
for doc in df['text']:
    words = word_tokenize(doc.lower())
    doc_as_int = []
    for word in words:
        if word not in word2index:
            word2index[word] = idx
            idx += 1
            
        doc_as_int.append(word2index[word])
    
    tokenized_docs.append(doc_as_int)

In [6]:
#  reverse mapping

idx2word = {v:k for k, v in word2index.items() }

In [7]:
n_documents = len(df['text'])
n_words = len(word2index)

In [8]:
# Instatiate term-frecuency matrix
# 
tf = np.zeros((n_documents, n_words))

In [9]:
# populate term-frequency counts

for i, doc_as_int in enumerate(tokenized_docs):
    for j in doc_as_int:
        tf[i, j] += 1

In [10]:
# Compute IDF

document_freq = np.sum(tf > 0, axis = 0)
idf = np.log(n_documents / document_freq)

In [11]:
# compute TF-IDF

tf_idf = tf * idf

In [13]:
np.random.seed(123)

In [15]:
# pick a random document, show the top 5 terms (in terms of tf_idf score)

i = np.random.choice(n_documents)
row = df.iloc[i]

print("label: ", row['labels'])
print("text:", row['text'].split("\n", 1)[0])
print("Top 5 terms:")

scores = tf_idf[i]

indices = (-scores).argsort()

for j in indices[:5]:
    print(idx2word[j])

label:  politics
text: Clarke faces ID cards rebellion
Top 5 terms:
cards
clarke
rebellion
id
bill

Words that best represent the article