# Withouttitlebro

---

The field of statistics deals with the collection, presentation, analysis, and use of data to make decisions, solve problems, and design products and processes.

Statistical methods are used to assist in describing and understanding variability.

* Successive observations of a system or phenomenon do not produce exactly the same result.

In [86]:
import pandas as pd
import numpy as np
import math 
import matplotlib.pyplot as plt

In [87]:
def getDataInColumns(data):
    rows,colums = unknown_data.shape
    columns = data.columns
    data_in_columns = []
    for column in columns:
        data_in_columns.append(unknown_data[column])
        
    return data_in_columns

In [89]:
def getMeans(data):
    data_in_columns = getDataInColumns(data)
    means = []
    for i in range(len(data_in_columns)):
        total = sum(data_in_columns[i])
        mean = total / len(data_in_columns[i])
        means.append(mean)

    return means

In [90]:
def getMedians(data):
    data_in_columns = getDataInColumns(data)
    medians = []
    for i in range(len(data_in_columns)):
        if len(data_in_columns[i]) % 2 == 0:
            middle = math.ceil(len(data_in_columns[i]) / 2)
            median = (data_in_columns[i][middle] +data_in_columns[i][middle]) / 2
        else:
            middle = math.ceil(len(data_in_columns[i]) / 2)
            median = data_in_columns[i][middle]
            medians.append(median)
    return medians

In [100]:
def getVariances(data):
    data_in_columns = getDataInColumns(data)
    
    variances = []
    means = getMeans(data)
  
    for i in range(len(data_in_columns)):
        numerator = 0
        for j in range(len(data_in_columns[i])):
            numerator += pow((data_in_columns[i][j] - means[i]),2)
            
        variance = numerator / len(data_in_columns[i]) - 1
        variances.append(variance)
    return variances

In [103]:
def getQuartiles(data):
    all_quartiles = []
    data_in_columns = getDataInColumns(data)
    for i in range(len(data_in_columns)):
        quartiles = []
        for numerator in [1,2,3]:
            quartile = numerator*(len(data_in_columns[i]) + 1)/4
            quartiles.append(quartile)
        all_quartiles.append(quartiles)
    
    return all_quartiles

In [106]:
def find_basic_quantities(data):
    means = getMeans(data)
    medians = getMedians(data)    
    variances = getVariances(data)
    quartiles = getQuartiles(data)
    
    for i in range(len(means)):
        print("--------------------------------------------------------------------------------")
        print("El numero total de datos en la columna ", i, " es: ", len(data_in_columns[i]))
        print(" El valor de la media de la columna ", i , ' es: ', means[i] )
        print(" El valor de la mediana de la columna ", i , ' es: ', medians[i])
        print(" El valor de la varianza de la columna ", i , ' es: ', variances[i])
        for j in [0 , 1, 2]:
            print(" El quartil ", j + 1 , ' es: ', quartiles[i][j])
        print("--------------------------------------------------------------------------------")

In [107]:
unknown_data = pd.read_csv("data.txt")

find_basic_quantities(unknown_data)

--------------------------------------------------------------------------------
El numero total de datos en la columna  0  es:  79
 El valor de la media de la columna  0  es:  163.39240506329114
 El valor de la mediana de la columna  0  es:  120
 El valor de la varianza de la columna  0  es:  1097.0105752283287
 El quartil  1  es:  20.0
 El quartil  2  es:  40.0
 El quartil  3  es:  60.0
--------------------------------------------------------------------------------

    105
0    97
1   245
2   163
3   207
4   134
..  ...
74  146
75  169
76  158
77  135
78  149

[79 rows x 1 columns]